source/docs/deploy.sh
source/miniworldmaker.egg-info
source/dist/
source/dist/*
source/build
source/build/*
source/docs/build
source/docs/build/*
source/scripts/*
source/docs/scripts/*
source/scripts
source/docs/scripts/
