# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# editor
.vscode
*/.vscode
.idea
*/.idea

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
source/test/output

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
docs/source/_build/*
source/docs/build/
source/docs/build/*
source/docs/__pycache__/
source/docs/source/_build/
source/docs/source/_build/*
source/docs/__pycache__/*
source/docs/.vscode/
source/docs/.vscode/*
source/docs/deploy.sh
source/miniworldmaker.egg-info
source/dist/
source/dist/*
source/build
source/build/*
source/docs/build
source/docs/build/*
source/scripts/*
source/docs/scripts/*
source/docs/scripts/*
source/scripts
source/docs/scripts/
source/docs/deepl_key.py
source/miniworldmaker.egg-info

# custom
source/miniworldmaker/__pycache__/
source/miniworldmaker/__pycache__/*
source/miniworldmaker/.vscode/
source/miniworldmaker/.vscode/*
source/dist
source/dist/*
env
env/*
test/output/*tmp_output*.png
test/output
test/testfiles/*
test/outputfiles*
*tmp_output*