img {
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 2px 2px 3px rgba(124, 124, 124, 0.2);
  border-radius: 10px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 100%;
}

img.autowidth {
  width: auto;  
}

video {
  border: 2px solid rgb(53, 53, 53);
  box-shadow: 2px 2px 3px rgba(24, 24, 24, 0.6);
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 100%;
}
